---
layout: post
title: RPG API
overview: true
---
<!--
[GitHub Pages](http://pages.github.com)

## Helpful Hints

<div class="note">
  <h5>use div with class</h5>
  <p>class="note"</p>
</div>

<div class="note info">
  <h5>use div with class</h5>
  <p>class ="note info"</p>
</div>

<div class="note warning">
  <h5>use div with class</h5>
  <p>class = "note warning"</p>
</div>

<div class="note unreleased">
  <h5>use div with class</h5>
  <p>class ="note unreleased"</p>
</div>

-->

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<article>
  <h2>
    {{ post.title }}
    <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ post.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
    </span>
    <a href="https://github.com/{{ page.author }}" class="post-author">
      {{ post.author }}
    </a>
  </div>
  <div class="post-content">
    <!--{{ content }}-->
	<span>{{ post.content | strip_html | truncatewords:75}}<br></span><br>
            <span class="section-red"><a href="{{ post.url }}">Read more...</a><br>
  </span>
  </div>
</article>
{% endfor %}

<!-- Pagination links -->
<div class="section-nav">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="prev">Previous</a>
  {% else %}
    <span class="prev disabled">Previous</span>
  {% endif %}
  <!--span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span-->
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next disabled ">Next</span>
  {% endif %}
</div>