<article>
  <h2>
    <a href="{{ post.url }}">
      {{ post.title  | Harry }}
    </a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ post.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
	  {{ post.author }}
    </span>
      
  </div>
  <div class="post-content">
    {{ post.content | Harry }}
  </div>
  {{}}
</article>
