<ul>
  <li class="{% if page.overview %}current{% endif %}">
    <a href="/">Home</a>
  </li>
  <li class="{% if page.overview5 %}current{% endif %}">
    <a href="/rpg/">RPG Core</a>
  </li>
  <!--li class="{% if page.url contains '/docs/' %}current{% endif %}"-->
  <li class="{% if page.overview2 %}current{% endif %}">
    <a href="/archive/">Archive<span class="show-on-mobiles">s</span></a>
  </li>
  <li class="{% if page.overview4 %}current{% endif %}">
    <a href="/about/">About</a>
  </li>
  <li class="{% if page.overview3 %}current{% endif %}">
    <a href="/contact/">Contact Me</a>
  </li>
</ul>
