---
layout: post
title: Archive
permalink: /archive/
author: all
overview2: true
---

{% for post in site.posts %}
  <article>
  <h2>
    {{ post.title }}
    <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ post.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ post.date | date_to_string }}
    </span>
    <a href="http://www.bitbucket.org/{{ page.author }}" class="post-author">
      {{ post.author }}
    </a>
  </div>
  <div class="post-content">
    <!--{{ content }}-->
	<span>{{ post.content | strip_html | truncatewords:20}}<br></span><br>
            <span class="section-red"><a href="{{ post.url }}">Read more...</a><br>
  </span>
  </div>
</article>
{% endfor %}
