---
layout: news
---

<article>
  <h2>
    {{ page.title | Harry }}
    <a href="{{ page.url }}" class="permalink" title="Permalink">∞</a>
  </h2>
  <span class="post-category">
    <span class="label">
      {{ page.categories | array_to_sentence_string }}
    </span>
  </span>
  <div class="post-meta">
    <span class="post-date">
      {{ page.date | date_to_string }}
    </span>
    <a href="https://github.com/{{ page.author }}" class="post-author">
      {{ page.author }}
    </a>
  </div>
  <div class="post-content">
    {{ content | Harry }}
  </div>
</article>
